.b-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.b-modal {
  width:100vw;
  max-width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: inset;
  position: relative;
  box-sizing: border-box;
}

.b-modal-inner{
  padding: 20px;
  box-sizing: border-box;
}
 
.b-modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}