.container {
  width: 100%;
  max-width: 430px;
  min-height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.content{
  width: 100%;
  padding: 40px 20px 100px 20px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.gomain-section{
  padding: 50px 0 50px 0;
  font-style: italic;
}

.btnsection{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.starsection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 60px;
}

.fillsection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 23px 0 23px 0;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.fillsection iframe {
  display: block;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 30px 0 30px;
}
.text h2{
  font-size:large;
}
.text p{
  font-size: 14px;
}

/* --- how to make design --- */
.howtomake {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.word {
  display: flex;
  gap: 2px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(236, 255, 29, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
}

/* --- btn --- */
.download-img-btn {
  width: 100px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px soild black;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.download-img-btn:hover {
  font-style: italic;
}
.download-img-btn:active {
  box-shadow: none;
}

.design-btn {
  width: 100px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;

  font-size: 12px;
  color: black;
  cursor: pointer;
}
.design-btn:hover {
  font-style: italic;
}
.design-btn:active {
  box-shadow: none;
}
