.container {
  width: 100%;
  max-width: 430px;
  min-height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.content{
  width: 100%;
  padding: 0px 20px 100px 20px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.gomain-section{
  padding: 50px 0 30px 0;
  font-style: italic;
}

.grid-section {
  width:100%;
  padding: 20px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  width: min(432px, 100%);
  aspect-ratio: 18 / 14;
  outline: 2px solid black;
}


.img-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.img-section p {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color:gray;
}

.color-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:12px;
    margin-bottom: 24px;
}
.color-section-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-section-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coloradd-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider-section{
    display: flex;
    width:100%;
    height: 60px;
    border-bottom:2px solid black;
    margin-bottom: 60px;
}

.reset-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* --- btn --- */
.download-doan-btn{
  width: 210px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.colorbtn1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border:2px solid black;
    background-color: white;
    font-size: 16px;
    color:black;
    padding: 0 12px 0 12px;
    cursor: pointer;
}
.colorbtn1:hover {
  background-color: var(--yellow);
}

.colorbtn1.selected {
  border: 3px solid var(--blue);
  background-color: var(--yellow);
}

.colorbtn1:active {
  border:3px solid var(--blue);
  background-color: var(--blue);
}

.colorbtn2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border:1px solid black;
    background-color: black;
    font-size: 16px;
    color: white;
    padding: 0 12px 0 12px;
    cursor: pointer;
}
.colorbtn2:hover {
  border:2px solid black;
  background-color: white;
  color: black;
}
.colorbtn2:active {
  border:3px solid white;
  background-color:black;
  color: white;
}