.container {
  width: 100%;
  max-width: 430px;
  min-height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.content{
  width: 100%;
  padding: 40px 20px 100px 20px;
}
*, *::before, *::after {
  box-sizing: border-box;
}


.btnsection{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.starsection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 60px;
}
.fillsection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 23px 0 23px 0;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.fillsection iframe {
  display: block;
}
.howtomake {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.word {
  display: flex;
  gap: 2px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(236, 255, 29, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
}
