@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  width: 100vw;
  min-height: calc(var(--vh) * 100);
  display: flex;
  justify-content: center; 

  font-family: "Pretendard Variable", Pretendard;
  --blue: #0C96E9;
  --yellow: #ECFF1D;
  --gray1: #8E8E93;
  --gray2: #AEAEB2;
  --gray3: #C7C7CC;
  --gray4: #D1D1D6;
  --gray5: #E5E5EA;
  --gray6: #F2F2F7;
}


body {
  margin: 0;
  background-image: url(../src/img/background2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

body.main {
  background-image: url(../src/img/background1.png);
}

.Toastify__toast {
  border-radius: 12px;
  font-size: 14px;
}
.Toastify__toast--success {
  background: white;
  color: black;
}

.Toastify__progress-bar {
  background: black;
}
