@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  width: 100vw;
  min-height: calc(var(--vh) * 100);

  display: flex;
  justify-content: center; 
  font-family: "Pretendard Variable", Pretendard;
}


body {
  margin: 0;
  background-image: url(../src/img/background2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

body.main {
  background-image: url(../src/img/background1.png);
}